
{namespace pn.ui.edit.soy.history}

/** Audit Log Page */
{template .page}
<div class='audit-log'>
  <button id="back" class="goog-button cancel" title="Go back">Back</button>
	<div class="clear"></div>
	<br/>
  <h2 id='audit-log-heading'>History - Select Entry</h2>
  <div id='audit-log-grid'></div>
  <div id='audit-log-comparison'>
    <table id='audit-log-diff-table'></table>
  </div>
</div>
{/template}
{/namespace}